@import "tailwindcss";

/* Panchang Font Family - All Weights */
@font-face {
  font-family: 'Panchang';
  src: url('../public/Fonts/Panchang-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('../public/Fonts/Panchang-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('../public/Fonts/Panchang-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('../public/Fonts/Panchang-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('../public/Fonts/Panchang-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('../public/Fonts/Panchang-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Panchang';
  src: url('../public/Fonts/Panchang-Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  font-family: 'Hubot-Sans', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
@layer utilities {
  .font-panchang {
    font-family: 'Panchang', sans-serif;
  }
  .hubot-sans {
    font-family: 'Hubot-Sans', sans-serif;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity  0.6s ease , transform 0.6s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}